@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url(url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cpath fill='%23000' d='M10 .4C4.698.4.4 4.698.4 10s4.298 9.6 9.6 9.6s9.6-4.298 9.6-9.6S15.302.4 10 .4m2.274 6.634h-1.443c-.171 0-.361.225-.361.524V8.6h1.805l-.273 1.486H10.47v4.461H8.767v-4.461H7.222V8.6h1.545v-.874c0-1.254.87-2.273 2.064-2.273h1.443z'/%3E%3C/svg%3E"));
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
body {
  background-color: #14171c;
  color: white;
}
/* Login Page CSS */
.login-title p {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.login-container label {
  font-size: 16px;
  display: block;
  margin-bottom: 5px;
}

#log-email-box,
#log-pass-box {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #b6e82e;
  border-radius: 5px;
  background-color: #b6e82e33;
}

#login-btn {
  width: 100%;
  padding: 10px;
  background-color: #b6e82e;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 24px;
}

#login-btn:hover {
  background-color: #b6e82e;
}

.foget-pass {
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
  margin-top: 28px;
}

.foget-pass a {
  text-decoration: none;
  color: #b6e82e;
}
.login-parent {
  /* vh-view hight */
  height: 100vh;
  /* vh-view width */
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-container {
  padding: 24px;
  height: fit-content;
  width: 320px;
  background: #272a2e;
  border-radius: 30px;
}
.error-message {
  color: red;
  font-size: 0.9em;
  margin: 5px 0 10px 0;
}

/* Signup Page CSS */
.signup-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 50px 40px;
  width: 340px;
  background: #272a2e;
  border-radius: 30px;
}

.signup-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}
.signup-subtitle {
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
  margin-top: 28px;
  margin-bottom: 28px;
}
.signup-subtitle a {
  text-decoration: none;
  color: #b6e82e;
}

.signup-title h4 {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 30px;
  text-align: center;
}

.field-container label {
  font-size: 16px;
  display: block;
  margin-bottom: 5px;
}

#fname,
#lname,
#email,
#password,
#cpassword {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #b6e82e;
  border-radius: 5px;
  background-color: #b6e82e33;
}

#signup-btn {
  width: 364px;
  padding: 10px;
  background-color: #b6e82e;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

#signup-btn:hover {
  background-color: #a0d10a;
}

/* Contact Us Page CSS */
.contact-title h1 {
  font-size: 58px;
  display: flex;
  justify-content: center;
  margin: 60px 60px;
  gap: 10px;
}
.contact-title span {
  color: #b6e82e;
}
.contact-field-container {
  display: flex;
  gap: 320px;
  margin: 0px 320px 0px 320px;
  /* border: 1px solid red; */
}
.contact-left-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 498px;
  gap: 50px;
  /* border: 1px solid red; */
}
.contact-left-content h3 {
  font-size: 52px;
  font-weight: bold;
}
.contact-left-content p {
  font-size: 16px;
  color: #ffffff;
}
#p-class {
  color: #ffffff43;
}
.contact-right-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 40%;
  border: 1px solid #b6e82e10;
  border-radius: 30px;
  padding: 30px 40px 30px 40px;
  background-color: #272a2e;
}
.contact-right-content label {
  font-size: 16px;
}
.contact-right-content input,
textarea {
  height: 48px;
  width: 100%;
  border: 1px solid #b6e82e14;
  padding-left: 12px;
  background-color: #b6e82e10;
}
.contact-right-content textarea {
  padding-top: 8px;
  height: 110px;
}
/* .contact-right-content ::placeholder{
  padding: 24px;
} */
#send-message-btn {
  width: 235px;
  height: 56px;
  border-radius: 8px;
  background-color: #b6e82e;
  font-size: 16px;
  transition: 0.3s;
  font-weight: bold;
}
#send-message-btn:hover {
  background-color: white;
  cursor: pointer;
}

/*Admin Page CSS*/
.tab {
  border: 1px solid #181a19;
  background-color: #087a32;
  text-align: left;
}

.link {
  background-color: rgb(8, 88, 54);
  border: 1px;
  outline: 1px;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
}

.link.active {
  background-color: #000000;
}
.content {
  display: none;
  color: black;
  padding: 20px;
  border: 1px solid #0e0d0d;
  border-top: none;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/*Landing Page*/

header nav {
  padding: 20px 40px;
  border-bottom: 4px solid #b6e82e14;
  border-radius: 0 0 20px 20px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 340px;
  padding-right: 340px;
}

.nav-logo a {
  color: #b6e82e;
  font-size: 28px;
  font-weight: bold;
  text-decoration: none;
}

/* Navigation Links */
.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  position: relative;
  padding-bottom: 4px;
  transition: 0.3s;
}
.nav-links a:hover {
  color: #b6e82e;
}

/* Get Started Button */
.btn-get-started {
  background-color: #b6e82e;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  color: #000;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
  transition: 0.3s;
}

.btn-get-started:hover {
  background-color: white;
}

/* Hero section */
.hero-section {
  background-color: #1e1e1e;
  padding: 60px 40px;
}

.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  gap: 60px;
}

.hero-text {
  max-width: 50%;
  color: white;
}

/* Left-Hero-Section */
.tagline {
  color: #b6e82e;
  font-weight: 600;
  margin-bottom: 10px;
}

.hero-text h1 {
  font-size: 42px;
  font-weight: 800;
  line-height: 1.3;
}

.hero-text h1 span {
  color: #b6e82e;
  font-weight: bold;
}

.description {
  color: #ccc;
  margin: 20px 0;
  font-size: 15px;
  line-height: 1.6;
}

.btn-explore {
  background-color: #b6e82e;
  color: black;
  border: none;
  padding: 12px 24px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-explore:hover {
  background-color: white;
}
/* Right-Hero-Section */
.hero-card .event-card {
  position: relative;
  background-color: #2a2a2a;
  padding: 20px;
  border-radius: 16px;
  color: white;
  width: 320px;
  text-align: center;
}

.date-badge {
  background-color: white;
  color: black;
  border-radius: 8px;
  width: 50px;
  margin: 0 auto;
  padding: 5px 0;
  margin-bottom: 12px;
}

.date-badge .month {
  font-size: 12px;
  font-weight: 600;
}

.date-badge .day {
  font-size: 20px;
  font-weight: bold;
}

.location {
  font-size: 14px;
  color: #ddd;
  margin-bottom: 12px;
}

.prebook-btn {
  background-color: white;
  color: black;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}

/* Upcoming Events Section */
.upcoming-events-section {
  background-color: #14171c;
  padding: 50px 40px;
}

.upcoming-container {
  max-width: 1200px;
  margin: 0 auto;
}

.upcoming-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.upcoming-header h2 {
  font-size: 32px;
  font-weight: bold;
  color: white;
}

.filter-btn {
  display: flex;
  gap: 15px;
}

.weekdays-btn {
  background-color: #272a2e;
  color: white;
  border: 1px solid #272a2e;
  padding: 8px 16px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
}
.category-btn {
  background-color: #272a2e;
  color: white;
  border: 1px solid #272a2e;
  padding: 8px 16px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.events-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.event-item {
  background-color: #1e1e1e;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
}

.event-image {
  height: 150px;
  overflow: hidden;
}

.event-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.event-date {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 8px;
  padding: 5px 10px;
  text-align: center;
  color: white;
}

.event-date .month {
  display: block;
  font-size: 12px;
  font-weight: 500;
}

.event-date .day {
  display: block;
  font-size: 18px;
  font-weight: bold;
}

.event-details {
  padding: 15px;
}

.event-details h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.event-location {
  color: #b6b6b6;
  font-size: 14px;
  margin-bottom: 15px;
}

.event-footer {
  display: flex;
  /* x */
  justify-content: space-between;
  /* y */
  align-items: center;
}

.event-time {
  font-size: 14px;
  color: #b6b6b6;
}

.event-price {
  font-size: 14px;
  font-weight: 600;
  color: #b6e82e;
}

.book-now-btn {
  background-color: #272a2e;
  color: #b6e82e;
  border: none;
  padding: 5px 12px;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
  transition: 0.3s;
}

.book-now-btn:hover {
  background-color: #b6e82e;
  color: #000;
}

/* Event CTA Section */
.event-cta-section {
  padding: 50px 40px;
}

.cta-container {
  max-width: 1200px;
  margin: 0 auto;
  background: url("/image/right-img.jpg") center/cover no-repeat;
  border-radius: 20px;
  padding: 80px 60px;
  text-align: center;
  position: relative;
  overflow: hidden;
  color: white;
}

.cta-container:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.cta-container h2,
.cta-container h3,
.cta-container p,
.cta-container button {
  position: relative;
  z-index: 2;
}

.cta-container h2 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 10px;
}

.cta-container h2 span {
  color: #b6e82e;
}

.cta-container h3 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 15px;
}

.cta-container p {
  max-width: 600px;
  margin: 0 auto 30px;
  line-height: 1.6;
}

.see-more-btn {
  background-color: #b6e82e;
  color: black;
  border: none;
  padding: 12px 24px;
  font-weight: 600;
  border-radius: 30px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  transition: 0.3s;
}

.see-more-btn:hover {
  background-color: #a0d10a;
}

/* Footer Section */
.footer-container {
  display: flex;
  gap: 558px;
  margin-left: 320px;
  margin-right: 320px;
  margin-top: 80px;
  /* border: 1px solid red; */
}
.footer-nav-items {
  display: flex;
  gap: 40px;
  margin-bottom: 62px;
  margin-top: 40px;
}
.footer-nav-items a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}
.footer-copyright {
  margin-left: 200px;
}
.footer-copyright {
  font-size: 16px;
  color: #ffffff;
}
.footer-brand-title {
  font-size: 28px;
  font-weight: bold;
  color: #a0d10a;
}

.social-icon {
  display: flex;
  gap: 20px;
  margin-top: 16px;
  margin-bottom: 40px;
}
.social-icon i {
  font-size: 24px;
  background-color: white;
  color: black;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-icon a {
  text-decoration: none;
}
.footer-left span {
  border-top: 2px solid #505050;
}
.left-social-icon {
  display: flex;
  gap: 20px;
}
.left-social-icon i {
  font-size: 24px;
  color: #a0d10a;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.left-social-icon a {
  text-decoration: none;
}
