@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
#cart-scroll {
  scroll-behavior: smooth;
}
body {
  background-color: #14171c;
  color: white;
}
/* Login Page CSS */
.login-title p {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.login-container label {
  font-size: 16px;
  display: block;
  margin-bottom: 5px;
}

#log-email-box,
#log-pass-box {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #b6e82e;
  border-radius: 5px;
  background-color: #b6e82e33;
}

#login-btn {
  width: 100%;
  padding: 10px;
  background-color: #b6e82e;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 24px;
}

#login-btn:hover {
  background-color: #b6e82e;
}

.foget-pass {
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
  margin-top: 28px;
}

.foget-pass a {
  text-decoration: none;
  color: #b6e82e;
}
.login-parent {
  /* vh-view hight */
  height: 100vh;
  /* vh-view width */
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-container {
  padding: 24px;
  height: fit-content;
  width: 320px;
  background: #272a2e;
  border-radius: 30px;
}
.error-message {
  color: red;
  font-size: 0.9em;
  margin: 5px 0 10px 0;
}

/* Signup Page CSS */
.signup-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 28px 40px;
  width: 340px;
  background: #272a2e;
  border-radius: 18px;
}

.signup-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 18px;
  text-align: center;
}
.signup-subtitle {
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
  margin-top: 28px;
  margin-bottom: 18px;
}
.signup-subtitle a {
  text-decoration: none;
  color: #b6e82e;
  font-weight: bold;
}

.signup-title h4 {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 30px;
  text-align: center;
}

.field-container label {
  font-size: 16px;
  display: block;
  margin-bottom: 5px;
}

#fname,
#lname,
#email,
#password,
#cpassword {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #b6e82e;
  border-radius: 5px;
  background-color: #b6e82e33;
}

#signup-btn {
  padding: 10px;
  padding-left: 98px;
  padding-right: 104px;
  background-color: #b6e82e;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

#signup-btn:hover {
  background-color: #a0d10a;
}
#nid-file {
  margin-top: 12px;
  margin-bottom: 12px;
  color: #b6e82e;
}

/* Contact Us Page CSS */
.contact-title h1 {
  font-size: 58px;
  display: flex;
  justify-content: center;
  margin: 60px 60px;
  gap: 10px;
}
.contact-title span {
  color: #b6e82e;
}
.contact-field-container {
  display: flex;
  gap: 160px;
  margin: 0px 140px 0px 140px;
  /* border: 1px solid red; */
}
.contact-left-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 498px;
  gap: 50px;
  /* border: 1px solid red; */
}
.contact-left-content h3 {
  font-size: 52px;
  font-weight: bold;
}
.contact-left-content p {
  font-size: 16px;
  color: #ffffff;
}
#p-class {
  color: #ffffff43;
}
.contact-right-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 40%;
  border: 1px solid #b6e82e10;
  border-radius: 30px;
  padding: 30px 40px 30px 40px;
  background-color: #272a2e;
}
.contact-right-content label {
  font-size: 16px;
}
.contact-right-content input,
textarea {
  height: 48px;
  width: 100%;
  border: 1px solid #b6e82e14;
  padding-left: 12px;
  background-color: #b6e82e10;
}
.contact-right-content textarea {
  padding-top: 8px;
  height: 110px;
}
/* .contact-right-content ::placeholder{
  padding: 24px;
} */
#send-message-btn {
  width: 235px;
  height: 56px;
  border-radius: 8px;
  background-color: #b6e82e;
  font-size: 16px;
  transition: 0.3s;
  font-weight: bold;
}
#send-message-btn:hover {
  background-color: white;
  cursor: pointer;
}

/*Admin Page CSS*/
.tab {
  border: 1px solid #181a19;
  background-color: #087a32;
  text-align: left;
}

.link {
  background-color: rgb(8, 88, 54);
  border: 1px;
  outline: 1px;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
}

.link.active {
  background-color: #000000;
}
.content {
  display: none;
  color: black;
  padding: 20px;
  border: 1px solid #0e0d0d;
  border-top: none;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* Header */
header nav {
  padding: 20px 40px;
  border-bottom: 4px solid #b6e82e14;
  border-radius: 0 0 20px 20px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 100px;
  padding-right: 100px;
}

.nav-logo a {
  color: #b6e82e;
  font-size: 28px;
  font-weight: bold;
  text-decoration: none;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  position: relative;
  padding-bottom: 4px;
  /* transition: 0.3s; */
}
.nav-links a:hover {
  color: #b6e82e;
  border-radius: 2px;
  border-bottom: 2px solid #b6e82e;
}

.btn-get-started {
  background-color: #b6e82e;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  color: #000;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
  transition: 0.3s;
}
.nav-btn a {
  text-decoration: none;
}

.btn-get-started:hover {
  background-color: white;
}

/*Landing Page*/

/* Hero section */
.hero-container {
  display: flex;
  align-items: center;
  gap: 98px;
  margin-left: 140px;
  margin-right: 140px;
  margin-top: 84px;
}

.left-hero {
  display: flex;
  flex-direction: column;
  width: 552px;
  gap: 16px;
}
.left-hero span {
  color: #b6e82e;
  font-weight: 300;
  font-style: italic;
}
#h-s-text {
  color: #b6e82e;
  font-weight: 18px;
  font-style: italic;
  font-weight: 600;
}
.left-hero h1 {
  font-size: 58px;
}
.left-hero p {
  font-size: 20px;
  font-weight: 400;
  margin-top: 16px;
}
.left-hero .Explore-btn {
  height: 58px;
  width: 206px;
  border-radius: 12px;
  background-color: #b6e82e;
  font-size: 18px;
  font-weight: bold;
  margin-top: 16px;
  transition: 0.3s;
}
.left-hero .Explore-btn:hover {
  background-color: white;
  cursor: pointer;
}
.right-hero {
  border-radius: 30px;
  border-top: 4px solid #b6e82e;
  border-bottom: 4px solid #b6e82e;
  display: flex;
  flex-direction: column;
  position: relative;
}
.right-hero-cart-details {
  position: absolute;
  margin-top: 348px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.right-hero .time-span {
  display: flex;
  flex-direction: column;
  width: 24%;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: white;
  color: #505050;
  font-size: 24px;
  font-weight: bold;
}
.hero-cart {
  display: flex;
  gap: 24px;
  margin-left: 48px;
}
.right-hero img {
  width: 100%;
  height: 644px;
  object-fit: cover;
  overflow: hidden;
  border-radius: 30px;
}
.right-hero .pre-book-btn {
  width: 80%;
  height: 60px;
  border-radius: 12px;
  font-size: 18px;
  font-weight: bold;
  transition: 0.3s;
}
.right-hero .pre-book-btn:hover {
  background-color: #b6e82e;
}
.hero-cart-details h3 {
  font-size: 34px;
  font-weight: bold;
}
.hero-cart-details h6 {
  font-size: 14px;
  font-weight: 600;
}
.right-hero-cart-details {
  display: flex;
  gap: 24px;
  margin-top: 400px;
}

/* Footer Section */
.footer-container {
  display: flex;
  gap: 380px;
  margin-left: 140px;
  margin-right: 140px;
  margin-top: 80px;
}
.footer-nav-items {
  display: flex;
  gap: 40px;
  margin-bottom: 62px;
  margin-top: 40px;
}
.footer-nav-items a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}
.footer-nav-items a:hover {
  color: #b6e82e;
  /* border-radius: 2px;
  border-bottom: 2px solid #b6e82e; */
}
.footer-copyright {
  margin-left: 180px;
}
.footer-copyright {
  font-size: 16px;
  color: #ffffff;
}
.footer-brand-title {
  font-size: 28px;
  font-weight: bold;
  color: #a0d10a;
}

.social-icon {
  display: flex;
  gap: 20px;
  margin-top: 16px;
  margin-bottom: 40px;
}
.social-icon i {
  font-size: 24px;
  background-color: white;
  color: black;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-icon a {
  text-decoration: none;
}
.footer-left span {
  border-top: 2px solid #505050;
}
.left-social-icon {
  display: flex;
  gap: 20px;
}
.left-social-icon i {
  font-size: 24px;
  color: #a0d10a;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.left-social-icon a {
  text-decoration: none;
}

/* Hero-Upcomming Event */
.upcomming-event-top {
  display: flex;
  margin-left: 140px;
  margin-right: 140px;
  margin-top: 80px;
  gap: 320px;
}
.filter-buttons {
  display: flex;
  gap: 16px;
  align-items: center;
}
.filter-btn1,
.filter-btn2 {
  height: 48px;
  width: 176px;
  color: white;
  background-color: #b6e82e10;
  color: white;
  border-radius: 12px;
  border: 1px solid #b6e82e14;
}
.upcomming-event-top h3 {
  font-size: 38px;
  font-weight: bold;
}
/* Cart-1 */
.event-cart {
  margin-left: 140px;
  margin-right: 140px;
  margin-top: 80px;
}
.event-cart-singular {
  border: 1px solid #dadada10;
  background-color: #0b0b0b1e;
  border-radius: 16px;
  width: 380px;
  height: 432px;
}
.event-cart-image {
  height: 240px;
  width: 100%;
  overflow: hidden;
}
.event-cart-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 16px;
}
.event-cart-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.event-cart-info h4 {
  font-size: 24px;
  font-weight: bold;
}
.event-cart-info h6 {
  font-size: 16px;
  font-weight: 500;
}
.price-info {
  display: flex;
  gap: 18px;
  color: #b6e82e;
  align-items: center;
}
.price-info h4 {
  font-size: 16px;
}
.price-info .book-now-btn {
  height: 40px;
  width: 128px;
  border-radius: 12px;
  background-color: #b6e82e10;
  border: 1px solid #b6e82e14;
  color: #b6e82e;
  font-weight: 500;
  font-size: 16px;
  transition: 0.3s;
}
.price-info .book-now-btn:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}
.event-cart {
  display: flex;
  gap: 30px;
}
.event-cart1 .date-span {
  display: flex;
  flex-direction: column;
}
.event-cart1 .date-span p {
  font-size: 16px;
  font-weight: 400;
}
.event-cart1 .date-span span {
  font-size: 24px;
  font-weight: bold;
}
.schedule-info span {
  font-size: 16px;
  font-weight: 400;
}
.schedule-info {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.event-cart1-info {
  display: flex;
  gap: 20px;
}
.event-cart1 {
  margin: 24px 24px 34px 24px;
}

/* News and blogs */

.news-section {
  margin-left: 140px;
  margin-right: 140px;
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 190px;
}
.news-see-more-btn input {
  width: 158px;
  height: 56px;
  border-radius: 12px;
  background-color: #b6e82e;
  font-size: 18px;
  font-weight: bold;
  margin-top: 28px;
}
.news-header-text span {
  font-size: 18px;
  font-weight: 500;
  color: #b6e82e;
}
.news-header-text h3 {
  font-size: 38px;
  font-weight: bold;
}

/* News-Cart */
.news-cart {
  margin-left: 140px;
  margin-right: 140px;
  margin-top: 80px;
  display: flex;
  gap: 22px;
}
.news-cart .news-cart1 {
  width: 526px;
  height: 428px;
  border-radius: 20px;
}
.news-img img {
  border-radius: 20px;
}
.news-cart-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.news-cart-info span {
  color: #b9b9b9;
  font-size: 16px;
  font-weight: 500;
}
.news-cart-info p {
  font-size: 22px;
  font-weight: 600;
}
.read-more-btn input {
  background-color: #b6e82e10;
  color: #b6e82e;
  border-radius: 12px;
  border: 1px solid #b6e82e;
  width: 128px;
  height: 44px;
  font-size: 14px;
  font-weight: 600;
  transition: 0.3s;
}
.read-more-btn input:hover {
  background-color: #b6e82e;
  color: black;
}

/* Refund Policy */
.non-active-btn input {
  padding: 12px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 500;
  background-color: #b6e82e10;
  color: #b6e82e;
  border: 1px solid #b6e82e14;
  transition: 0.3s;
}
.refund-header-btn {
  display: flex;
  gap: 14px;
  align-items: center;
  justify-content: center;
}
.active-btn input {
  background-color: #b6e82e;
  padding: 12px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 500;
}
.non-active-btn input:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}
/* Left-Content */
.left-content h3 {
  font-size: 24px;
  color: #b6e82e;
  margin-bottom: 4px;
}
.left-content p {
  margin-bottom: 8px;
  width: 60%;
}
.left-content span {
  font-size: 14px;
  font-weight: 300;
  color: #b6e82e;
}
.left-content {
  display: flex;
  margin-top: 50px;
  margin-left: 118px;
  margin-right: 118px;
  gap: 80px;
}
.left-content ul {
  list-style: none;
}
.right-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.deadline-table {
  border-collapse: collapse;
  width: 80%;
}
.deadline-table th,
.deadline-table td {
  padding-left: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: left;
  border-bottom: 1px solid #b6e82e14;
}

.deadline-table th {
  background-color: #b6e82e10;
  color: white;
}

.deadline-table tr:hover {
  background-color: #b6e82e10;
  color: #b6e82e;
}
.refund-content {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 80px;
}
.contatct-details h3 {
  font-size: 24px;
  color: #b6e82e;
  margin-bottom: 4px;
}
.contatct-details p {
  margin-bottom: 8px;
  width: 60%;
}
.contatct-details {
  margin-left: 118px;
  margin-right: 118px;
}

.req-cancel-content {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  margin-left: 280px;
  margin-right: 280px;
  margin-top: 80px;
  gap: 18px;
  border: 1px solid #b6e82e10;
  border-radius: 30px;
  padding: 30px 40px 30px 40px;
  background-color: #272a2e;
}
.form-field label {
  font-size: 18px;
}
.form-field {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.req-cancel-content input,
textarea,
select {
  height: 48px;
  width: 100%;
  border: 1px solid #b6e82e14;
  padding-left: 12px;
  background-color: #b6e82e10;
}
.req-cancel-content textarea {
  padding-top: 8px;
  height: 110px;
}
.req-cancel-btn input {
  border-radius: 12px;
  color: black;
  background-color: #b6e82e;
  font-size: 16px;
  font-weight: 500;
  margin-top: 24px;
  width: 50%;
  transition: 0.3s;
}
.req-cancel-btn input:hover {
  background-color: white;
  cursor: pointer;
}
.req-status-box {
  margin-left: 420px;
  margin-right: 420px;
  margin-top: 80px;
  display: flex;
  align-items: center;
  gap: 18px;
}
.order-id-check {
  border: 1px solid #b6e82e;
  background-color: #b6e82e33;
  width: 400px;
  height: 48px;
  padding-left: 12px;
  border-radius: 5px;
}

.req-status-btn input {
  border-radius: 12px;
  color: black;
  background-color: #b6e82e;
  font-size: 16px;
  font-weight: 500;
  padding: 12px;
  margin-top: 38px;
  transition: 0.3s;
}
.req-status-btn input:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}
.req-status-frame {
  margin-left: 240px;
  margin-right: 240px;
  margin-top: 80px;
  border: 1px solid #a0d10a;
  border-radius: 12px;
}
.req-id-show {
  padding: 18px;
  padding-left: 24px;
  background-color: #b6e82e12;
}
.req-id-show span {
  color: #b6e82e;
  font-size: 18px;
  font-weight: 600;
}
.req-id-show p {
  font-size: 18px;
  font-weight: 400;
}
.req-info p {
  padding-left: 24px;
  padding-top: 8px;
  font-size: 16px;
  font-weight: 600;
}
.req-info span {
  font-weight: 300;
}
.req-status {
  color: #ffc106;
}
.status-timeline {
  padding: 24px;
}
.status-timeline h3 {
  color: #b6e82e;
}
.status-icon #completed {
  height: 24px;
  width: 24px;
  background-color: #29a745;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.status-icon #in-progress {
  height: 24px;
  width: 24px;
  background-color: #ffc106;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.status-icon #pending {
  height: 24px;
  width: 24px;
  background-color: #6c757d;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.status-timeline-view {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 12px;
}
.track-bottom-info {
  margin-left: 240px;
  margin-right: 240px;
  margin-top: 20px;
  border-radius: 12px;
}
.track-bottom-info h3 {
  color: #b6e82e;
  margin-bottom: 8px;
}
.track-bottom-info b {
  color: #b6e82e;
}
.tabcontent {
  display: none;
  width: 100%;
}
