<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Refund Policy</title>
    <link rel="stylesheet" href="/CSS/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
    <script src="/Javascript/index.js"></script>
  </head>
  <body>
    <!--Header-->
    <header>
      <nav>
        <div class="nav-container">
          <div class="nav-logo">
            <a href="#">EvenBoo</a>
          </div>
          <ul class="nav-links">
            <li><a href="#">Home</a></li>
            <li><a href="#">Event</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contact us</a></li>
          </ul>
          <div class="nav-btn">
            <button class="btn-get-started">Get Started</button>
          </div>
        </div>
      </nav>
    </header>
    <section>
        <div class="contact-container">
            <div class="contact-title">
              <h1>Refund <span>Policy</span></h1>
            </div>
    </section>

    <!--Header-Buttons-->
    <section>
        <div class="refund-header-btn">

            <div class="non-active-btn">
                <input type="button" value="Refund Terms">
            </div>

            <div class="non-active-btn">
            <input type="button" value="Request Cancellation" class="Request-Cancellation-active">
            </div>
            
            <div class="active-btn">
            <input type="button" value="Track Status" class="Track-Status_active">
            </div>

        </div>
    </section>

    <!--Content -->
    

    <!-- Footer Section -->

    <footer>
      <div class="footer-container">
        <div class="footer-left">
          <span>Follow Us</span>

          <div class="social-icon">
            <a href="https://www.facebook.com" target="_blank"
              ><i class="fab fa-facebook-f"></i
            ></a>
            <a href="https://www.github.com" target="_blank"
              ><i class="fab fa-github"></i
            ></a>
            <a href="https://www.youtube.com" target="_blank"
              ><i class="fab fa-youtube"></i
            ></a>
            <a href="https://www.instagram.com" target="_blank"
              ><i class="fab fa-instagram"></i
            ></a>
          </div>

          <div class="footer-brand-title">
            <p>EvenBoo</p>
          </div>
        </div>

        <div class="footer-right">
          <div class="footer-nav-items">
            <a href="">Home</a>
            <a href="">Event</a>
            <a href="">About Us</a>
            <a href="">Blog</a>
            <a href="">Contact Us</a>
          </div>

          <div class="footer-copyright">
            <p>© 2025 evenboo. All rights reserved.</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
