<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Us</title>
    <link rel="stylesheet" href="/CSS/style.css" />
    <script src="/Javascript/index.js"></script>
  </head>
  <body>
    <div class="contact-container">
      <div class="contact-title">
        <p>Contact Us</p>
      </div>

      <div class="field-container">
        <div>
          <label for="name">Your Name</label>
          <input
            type="text"
            id="name"
            name="name"
            placeholder="Enter your Name"
          />
          <p id="name-error" class="error-message"></p>
        </div>

        <div>
          <label for="email">Your Email</label>
          <input
            type="email"
            id="email"
            name="email"
            placeholder="Enter your Email"
          />
          <p id="email-error" class="error-message"></p>
        </div>

        <div>
          <label for="message">Your Message</label>
          <textarea
            id="message"
            name="message"
            rows="5"
            placeholder="Write your message here"
          ></textarea>
          <p id="message-error" class="error-message"></p>
        </div>

        <div>
          <input
            type="submit"
            id="send-message-btn"
            value="Send Message"
            onclick="contactUsValidation()"
          />
        </div>
      </div>
    </div>
  </body>
</html>
