<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="../../asset/CSS/style.css" />
    <script src="../../asset/Javascript/index.js"></script>
  </head>
  <body>
    <form method="post" action="../../controller/login_test.php">
      <div class="login-parent">
        <div class="login-container">
          <div class="login-title">
            <p>Login</p>
          </div>
          <label for="email">Email</label>
          <input
            type="email"
            name="email"
            id="log-email-box"
            placeholder="Enter your Email"
          /><br />
          <p id="email-error" class="error-message"></p>
          <label for="password">Password</label>
          <input
            type="password"
            name="password"
            id="log-pass-box"
            placeholder="Enter your password"
          /><br />
          <p id="password-error" class="error-message"></p>

          <input type="checkbox" name="remember" id="remember-me" />
          <span>Remember Me</span>

          <div class="log-btn">
            <input type="submit" name="submit" id="login-btn" value="Sign In" />
          </div>

          <div class="foget-pass">
            <p>
              Don't have an account
              <a href="signup.html">Register now</a>
            </p>
          </div>
        </div>
      </div>
    </form>
  </body>
</html>
