<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="/CSS/style.css">

</head>
<body>
    <div class="container">
        <div class="title">
            <h1>Let's Get Started!</h1>
            <h4>Create an account to get all features</h4>
        </div>
            <div class="field-container">
                <form action="">
                    <div>
                        <label for="name" id="fname">First Name</label>
                    </div>
                    <div>
                        <input type="text" id="fname">
                    </div>
                    <div>
                        <label for="name" id="lname">Last Name</label>
                    </div>
                    <div>
                        <input type="text" id="fname">
                    </div>
                    <div>
                        <label for="email" id="email">Email Address</label>
                    </div>
                    <div>
                        <input type="email" id="email">
                    </div>
                    <div>
                        <label for="password" id="password">Password</label>
                    </div>
                    <div>
                        <input type="password" id="password">
                    </div>
                    <div>
                        <label for="cpassword" id="cpassword">Confirm Password</label>
                    </div>
                    <div>
                        <input type="password" id="cpassword">
                    </div>
                    <div>
                        <button type="submit">Sign Up</button>
                    </div>
                </form>
            </div>
    </div>  
</body>
</html>