<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
    <link rel="stylesheet" href="../../asset/CSS/style.css" />
    <title>EvenBoo | Book Your Event</title>
  </head>
  <body>
    <!--Header-->
    <header>
      <nav>
        <div class="nav-container">
          <div class="nav-logo">
            <a href="landing_page.html">EvenBoo</a>
          </div>
          <ul class="nav-links">
            <li><a href="landing_page.html">Home</a></li>
            <li><a href="#cart-scroll">Event</a></li>
            <li><a href="../Refund_Policy_feature/refund_policy.html">Refund</a></li>
            <li><a href="#news-blog">Blog</a></li>
            <li><a href="../Contact_Us_Form_feature/contact_us.html">Contact us</a></li>
          </ul>
          <div class="nav-btn">
            <a href="../User_Authentication_feature/login.html">
              <button class="btn-get-started">Get Started</button>
            </a>
            
          </div>
        </div>
      </nav>
    </header>

    <!--Hero Section-->
    <section class="hero-container">
      <div class="left-hero">
        <p id="h-s-text">IGNITE YOUR PASSION</p>
        <h1>Book Your Spot at the Hottest <span>Events</span> Around You</h1>
        <p>
          Love concerts, workshops, or exclusive shows? Don’t miss a beat!
          Discover top events near you and grab your ticket before it's gone.
        </p>

        <input type="button" class="Explore-btn" value="Explore Events" />
      </div>

      <div class="right-hero">
        <img src="../../asset/image/pre-book-img-1.png" alt="" />

        <div class="right-hero-cart-details">
          <div class="hero-cart">
            <div class="time-span">
              <span>Aug</span>
              <span class="span-date">15</span>
            </div>

            <div class="hero-cart-details">
              <h3>Electric Groove Carnival</h3>
              <h6>📍Coachella Valley</h6>
            </div>
          </div>

          <input type="button" class="pre-book-btn" value="Pre-book Now" />
        </div>
      </div>
    </section>
    <!--Upcomming Events Section-->
   


      <div id="cart-scroll">

         <section>
      <div class="upcomming-event">
        <div class="upcomming-event-top">
          <h3>Upcomming Events</h3>
          <div class="filter-buttons">
            <input type="button" value="Weekday" class="filter-btn1" />
            <input type="button" value="Category" class="filter-btn2" />
          </div>
        </div>
      </div>

         <!--Cart row-1-->
      <div class="event-cart">
        <div class="event-cart-singular">
          <div class="event-cart-image">
            <img src="../../asset/image/cart-img-1.jpg" alt="" />
          </div>

          <div class="event-cart1">
            <div class="event-cart1-info">
              <div class="schedule-info">
                <div class="date-span">
                  <p>OCT</p>
                  <span>19</span>
                </div>

                <span>7PM</span>
              </div>

              <div class="event-cart-info">
                <h4>Blues on the Beach</h4>
                <h6>📍Santa Cruz Boardwalk</h6>

                <div class="price-info">
                  <h4>$45 - $130</h4>
                  <input type="button" value="Book Now" class="book-now-btn" />
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="event-cart-singular">
          <div class="event-cart-image">
            <img src="../../asset/image/cart-img-1.jpg" alt="" />
          </div>

          <div class="event-cart1">
            <div class="event-cart1-info">
              <div class="schedule-info">
                <div class="date-span">
                  <p>OCT</p>
                  <span>19</span>
                </div>

                <span>7PM</span>
              </div>

              <div class="event-cart-info">
                <h4>Blues on the Beach</h4>
                <h6>📍Santa Cruz Boardwalk</h6>

                <div class="price-info">
                  <h4>$45 - $130</h4>
                  <input type="button" value="Book Now" class="book-now-btn" />
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="event-cart-singular">
          <div class="event-cart-image">
            <img src="../../asset/image/cart-img-1.jpg" alt="" />
          </div>

          <div class="event-cart1">
            <div class="event-cart1-info">
              <div class="schedule-info">
                <div class="date-span">
                  <p>OCT</p>
                  <span>19</span>
                </div>

                <span>7PM</span>
              </div>

              <div class="event-cart-info">
                <h4>Blues on the Beach</h4>
                <h6>📍Santa Cruz Boardwalk</h6>

                <div class="price-info">
                  <h4>$45 - $130</h4>
                  <input type="button" value="Book Now" class="book-now-btn" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--Cart row-2-->
      <div class="event-cart">
        <div class="event-cart-singular">
          <div class="event-cart-image">
            <img src="../../asset/image/cart-img-1.jpg" alt="" />
          </div>

          <div class="event-cart1">
            <div class="event-cart1-info">
              <div class="schedule-info">
                <div class="date-span">
                  <p>OCT</p>
                  <span>19</span>
                </div>

                <span>7PM</span>
              </div>

              <div class="event-cart-info">
                <h4>Blues on the Beach</h4>
                <h6>📍Santa Cruz Boardwalk</h6>

                <div class="price-info">
                  <h4>$45 - $130</h4>
                  <input type="button" value="Book Now" class="book-now-btn" />
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="event-cart-singular">
          <div class="event-cart-image">
            <img src="../../asset/image/cart-img-1.jpg" alt="" />
          </div>

          <div class="event-cart1">
            <div class="event-cart1-info">
              <div class="schedule-info">
                <div class="date-span">
                  <p>OCT</p>
                  <span>19</span>
                </div>

                <span>7PM</span>
              </div>

              <div class="event-cart-info">
                <h4>Blues on the Beach</h4>
                <h6>📍Santa Cruz Boardwalk</h6>

                <div class="price-info">
                  <h4>$45 - $130</h4>
                  <input type="button" value="Book Now" class="book-now-btn" />
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="event-cart-singular">
          <div class="event-cart-image">
            <img src="../../asset/image/cart-img-1.jpg" alt="" />
          </div>

          <div class="event-cart1">
            <div class="event-cart1-info">
              <div class="schedule-info">
                <div class="date-span">
                  <p>OCT</p>
                  <span>19</span>
                </div>

                <span>7PM</span>
              </div>

              <div class="event-cart-info">
                <h4>Blues on the Beach</h4>
                <h6>📍Santa Cruz Boardwalk</h6>

                <div class="price-info">
                  <h4>$45 - $130</h4>
                  <input type="button" value="Book Now" class="book-now-btn" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

      </div>
     

    <!--News and Blogs-->

    <section class="news-section" id="news-blog">
      <div class="news-header-text">
        <span>NEWS AND BLOGS</span>
        <h3>Stay Updated with Our Event Insights</h3>
      </div>
      <div class="news-see-more-btn">
        <input type="button" value="See More" />
      </div>
    </section>

    <!-- News-Cart -->
    <section>
      <div class="news-cart">
        <!-- News-Cart1 -->
        <div class="news-cart1">
          <div class="news-img">
            <img src="../../asset/image/right-img.jpg" alt="" />
          </div>

          <div class="news-cart-bottom">
            <div class="news-cart-info">
              <span>June 24, 2025</span>
              <p>The Rise of Virtual Events: A New Era in Entertainment</p>
            </div>

            <div class="read-more-btn">
              <input type="button" value="Read more" />
            </div>
          </div>
        </div>

        <!-- News-Cart2 -->
        <div class="news-cart1">

          <div class="news-img">
            <img src="../../asset/image/right-img.jpg" alt="">
          </div>
    
          <div class="news-cart-bottom">
    
            <div class="news-cart-info">
              <span>June 24, 2025</span>
              <p>The Rise of Virtual Events: A New Era in Entertainment</p>
            </div>
      
            <div class="read-more-btn">
              <input type="button" value="Read more">
            </div>
    
          </div>

      </div>
    </section>

    <!--Footer-->
    <footer>
      <div class="footer-container">
        <div class="footer-left">
          <span>Follow Us</span>

          <div class="social-icon">
            <a href="https://www.facebook.com" target="_blank"
              ><i class="fab fa-facebook-f"></i
            ></a>
            <a href="https://www.github.com" target="_blank"
              ><i class="fab fa-github"></i
            ></a>
            <a href="https://www.youtube.com" target="_blank"
              ><i class="fab fa-youtube"></i
            ></a>
            <a href="https://www.instagram.com" target="_blank"
              ><i class="fab fa-instagram"></i
            ></a>
          </div>

          <div class="footer-brand-title">
            <p>EvenBoo</p>
          </div>
        </div>

        <div class="footer-right">
          <div class="footer-nav-items">
            <a href="landing_page.html">Home</a>
            <a href="#cart-scroll">Event</a>
            <a href="../Refund_Policy_feature/refund_policy.html">Refund</a>
            <a href="#news-blog">Blog</a>
            <a href="../Contact_Us_Form_feature/contact_us.html">Contact Us</a>
          </div>

          <div class="footer-copyright">
            <p>© 2025 evenboo. All rights reserved.</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
