<html>
  <head>
    <link rel="stylesheet" href="../../asset/CSS/pstyle.css" />
    <script src="../../asset/Javascript/index.js"></script>
</head>
<body>
  <form >
  <!-- method="post" action="../../controller/imgupload.php" enctype="multipart/form-data"> -->
    <div class="profile-container">
      <img id="preview" src="../../asset/image/udi.png" alt="Profile" class="profile-pic">
      <br>
      <input type="file" id="fileInput" name="myfile" value="" accept="image/*" onchange="changeImage(this)">
  </div>
    <div>
      <label>Full Name:</label><br>
      <input type="text" id="pmfullName" name="fullName" placeholder="Robayed Rohan">
    </div>
    <div>
      <p id="errorn"></p>
    </div>
    <div>
      <label>Email:</label><br>
      <input type="email" id="pmemail" name="email" placeholder="rohan@gmail.com">
    </div>
    <div>
      <p id="errore"></p>
    </div>
    <div>
      <label>Phone Number:</label><br>
      <input type="text" id="pmphone" name="phone" placeholder="01301654609">
    </div>
    <div>
      <label>Address:</label><br>
      <input type="text" id="pmaddress" name="address" placeholder="road-19,nikunja-2,dhaka">
    </div>
    <div>
      <label>New Password:</label><br>
      <input type="password" id="pmpassword" name="password" placeholder="Enter new password">
    </div>
    <div>
      <p id="error"></p>
    </div>
    <div>
      <input id ="pmsubmit" type="button" value="Submit" onclick="profilevalidation()">
    </div>
  </form>
</body>
</html>
