<html>
    <head>
        <title>Profile</title>
    </head>
    <body>
        <fieldset>
            <legend>Profile_Management</legend>
            <div>
                <form>
                    <div>
                        <label for="avatar" id="avatar">Avatar</label><br>
                    </div>
                    <div>
                        <input type="file" id="avatar"><br> 
                    </div>
                    <div>
                        <label for="name" id="name">First Name</label><br>
                    </div>
                    <div>
                        <input type="text" id="fname"placeholder="Robayed"><br> 
                    </div>
                    <div>
                        <label for="name" id="name">Last Name</label><br>
                    </div>
                    <div>
                        <input type="text" id="lname"placeholder="Rohan"><br>
                    </div>
                    <div>
                        <label for="name" id="email">E-mail</label><br>
                    </div>
                    <div>
                        <input type="text" id="email"placeholder="robayedrohan19@gmail.com"><br>
                    </div>
                    <div>
                        <label for="name" id="password">Password</label><br>
                    </div>
                    <div>
                        <input type="password" id="password"placeholder="rohan1234"><br>
                    </div>
                    <div>
                        <br><button onclick="Updateplaceholder">Update</button>
                    </div>   
                </form>
            </div>
        </fieldset>
    </body>
</html>